@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@100&@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 5rem;
    background: lightblue;
}

footer {
    margin-top: auto;
}


header {
    display:flex;
    background-color: black;
    height: 9%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    
}
header{
    font-size: 20px;

}
nav a {
    display: block; 
    white-space: normal; 
    height: auto; 
    text-align: center; 
    padding: 10px; 
    }

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
}
nav {
    white-space: normal;
    height: auto;
  }
nav a{
    font-weight: 600;
}
nav a {
    width: 100px;
    flex-direction: column;
    white-space: break-word;
    height: 50px;
  }

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);  
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CC0066 ;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: white;
  }
  .hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  .centrado {
    display: block;
    text-align: center;
    font-size: 5rem; 
    font-weight: bold;
    color: black; 
}


  .barra {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
}

.opciones-izquierda {
    display: flex;
    align-items: flex-start;
    height: 50%;
}

.barra-busqueda-derecha {
    display: flex;
    align-items: flex-start;
    height: 50%;
}


.opciones-izquierda input[type="checkbox"],
.opciones-izquierda label {
    margin-right: 10px;
}


.barra-busqueda-derecha .barra-buscador {
    width: 550px; 
    margin-right: 10px;
}
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align:center ;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #CC0066;
	border: 1px solid #CC0066;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.contenido-card p,
.contenido-card a {
    display: inline; 
    margin: 0;
    padding: 0 20px; 
}

.card .contenido-card a:hover{
	background: #CC0066;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute; 
    left: 0;
    width: 97.95%;
    background-color: black;
    padding: 13px;
}

.footer a {
    display: flex;
    justify-content: end;
    gap: 6.25rem;
    margin: 0 ;
}

.footer img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.footer img:hover {
    transform: scale(1.2);
}
h4 {
    color: #fff;
    margin-left: 60rem;
}
